*{
    margin: 0;
    padding: 0;
}

body{

    background-image: url('https://s1.static.brasilescola.uol.com.br/be/conteudo/images/historia.jpg');
    background-repeat: no-repeat;        
    background-attachment: fixed;
    background-size: cover;
}

#cabecalho{
    background-color: black;
    font-family:helvedica;
    padding: 10px;
    text-align: center;
    float: center;
}

.botao{
    font-style:inherit;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    background-color: #000000;
    border: 0;
    color:azure;
    text-align: center;
}

#introducao{
    font-family: sans-serif;
    font-style: italic;
}

#menu{
    height: 600px;
    width: 250px;
    background-color: rgb(84, 84, 84);
    float: left;
    margin-left: 45px;
    margin-top: 10px;
}

#conteudo{
    position: absolute;
    height: 25%;
    width: 93.2%;
    background-color: rgba(240, 248, 255, 0.764);
    padding: 50px;
    text-align:justify;
    color: rgb(102, 54, 6);
    float:left;
    display: flex;
    justify-content: center;
    align-items: center;
}

#conteudo h1{
    width: 100px;
    word-wrap: break-word;

}

/*#rodape{
        height: 100px;
        background-color: rgb(58, 57, 57);
        clear: both;
        width: 95%;
        margin:0 auto;
        text-align: center;
}*/

#lado{
    background-color: lightseagreen;
    float: left;
    margin-top: 10px;
    margin-block-end: 8px;
    margin-right: 5px;
    margin-left: 80px;
}