*{
    margin: 0;
    padding: 0;
}

body{

    background-image: url('https://s1.static.brasilescola.uol.com.br/be/conteudo/images/historia.jpg');
    background-repeat: no-repeat;        
    background-attachment: fixed;
    background-size: cover;
}

#cabecalho{
    background-color: black;
    font-family:helvedica;
    height: 150px;
    text-align: center;
    float: center;
}
#cabecalho h1{
    position: relative;
    color: #fff;
    text-align: center;
    top: 40px;

}
#cabecalho button{
    position: relative;
    top: 90px;
    padding-inline-start: 20px;
}

.botao{
    font-style:inherit;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    background-color: #000000;
    border: 0;
    color:azure;
    text-align: center;
}

#introducao{
    font-family: sans-serif;
    font-style: italic;
}

#menu{
    height: 600px;
    width: 250px;
    background-color: rgb(84, 84, 84);
    float: left;
    margin-left: 45px;
    margin-top: 10px;
}

#intro{
    height: 10px;
    width: 93.2%;
    background-color: rgba(240, 248, 255, 0.764);
    margin-top: 1px;
    padding: 50px;
    text-align:justify;
    color: rgb(102, 54, 6);
    float:left;
    align-items: center;
}

#conteudo{
    height: 260px;
    width: 46%;
    background-color: rgba(240, 248, 255, 0.764);
    margin-top: 10px;
    text-align:justify;
    color: rgb(102, 54, 6);
    float:left;
    align-items: center;
    margin-left: 25px;
}

#conteudo h1{
    width: 800px;
    height: 250px;
    word-wrap: break-word;
    margin-right: 10px;
    padding-top: 50px;
}
#conteudo p{
    flex-direction: column;
    display: inline-block;
    list-style: circle;
    padding-inline-start: 50px;
}

#conteudo2{
    position: relative;
    height: 260px;
    width: 46%;
    background-color: rgba(240, 248, 255, 0.764);
    margin-top: 10px;
    text-align:justify;
    color: rgb(102, 54, 6);
    float:left;
    align-items: center;
    margin-right:25px;
    margin-left: 19px;
}

#conteudo2 h1{
    width: 800px;
    height: 250px;
    word-wrap: break-word;
    margin-right: 10px;
    padding-top: 50px;
}
#conteudo2 p{
    flex-direction: column;
    display: inline-block;
    list-style: circle;
    padding-inline-start: 50px;
}

/*#rodape{
        height: 100px;
        background-color: rgb(58, 57, 57);
        clear: both;
        width: 95%;
        margin:0 auto;
        text-align: center;
}*/

#lado{
    background-color: lightseagreen;
    float: left;
    margin-top: 10px;
    margin-block-end: 8px;
    margin-right: 5px;
    margin-left: 80px;
}

#conteudo3{
    height: 180px;
    width: 46%;
    background-color: rgba(240, 248, 255, 0.764);
    margin-top: 10px;
    text-align:justify;
    color: rgb(102, 54, 6);
    float:left;
    align-items: center;
    margin-left: 25px;
}

#conteudo3 h1{
    width: 800px;
    height: 250px;
    word-wrap: break-word;
    margin-right: 10px;
    padding-top: 50px;
}
#conteudo3 p{
    flex-direction: column;
    display: inline-block;
    list-style: circle;
    padding-inline-start: 50px;
}

#conteudo4{
    height: 180px;
    width: 46%;
    background-color: rgba(240, 248, 255, 0.764);
    margin-top: 10px;
    text-align:justify;
    color: rgb(102, 54, 6);
    float:left;
    align-items: center;
    margin-left: 25px;
}

#conteudo4 h1{
    width: 800px;
    height: 250px;
    word-wrap: break-word;
    margin-right: 10px;
    padding-top: 50px;
}
#conteudo4 p{
    flex-direction: column;
    display: inline-block;
    list-style: circle;
    padding-inline-start: 50px;
}