*{
    margin: 0;
    padding: 0;
}

body{

    background-image: url('https://s1.static.brasilescola.uol.com.br/be/conteudo/images/historia.jpg');
    background-repeat: no-repeat;        
    background-attachment: fixed;
    background-size: cover;
}

#cabecalho{
    background-color: black;
    font-family:helvedica;
    padding: 10px;
    text-align: center;
}

.botao{
    font-style:inherit;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    background-color: #000000;
    border: 0;
    color:azure;
}

#introducao{
    font-family: sans-serif;
    font-style: italic;
}

#menu{
    height: 600px;
    width: 250px;
    background-color: rgb(84, 84, 84);
    float: left;
    margin-left: 37px;
    margin-top: 10 px;
}

#conteudo{
    height: 500px;
    width: 600px;
    background-color: rgba(240, 248, 255, 0.764);
    margin-left: 200px;
    margin-top: 10px;
    padding: 50px;
    border-radius: 50px;
    text-align: center;
    color: rgb(102, 54, 6);
}

/*#rodape{
        height: 100px;
        background-color: rgb(58, 57, 57);
        clear: both;
        width: 95%;
        margin:0 auto;
        text-align: center;
}*/

#cabeçalho2{
    background-color: black;
    font-family:helvedica;
    padding: 10px;
    text-align: center;
}